.odd {
    background-color: pink;
    font-family: 'Verdana', sans-serif;
}

div {
    font-family: 'DejaVu Sans', sans-serif;

}

#blue {
    font-size: 36px;
    color: blue;
}

.size {
    font-size: 24px;
}

#greenbold {
    background-color: lightgreen;
    font-weight: bold;
}