
div {
    display: inline-block;
    height: 100px;
    width: 100px;
    border: 3px solid black;
    margin: 20px;
}

.red {
    width: 150px;
    background-color: red;
}

.blue {
    width: 400px;
    background-color: blue;
}

.yellow {
    width: 600px;
    background-color: yellow;
    clear: both;
}